{{#layout}}

<div id="bf-subject-wrapper" class="row">
    <div class="col-8">
		<h4 id="bf-subject" class="ellipsis"></h4>
    </div>
    <div class="col-4">
		<div id="folder-btns-wrapper">
	   		<button id="btn-folder-delete" class="btn btn-sm btn-outline-secondary my-2 my-sm-0">삭제</button>
			<button id="btn-folder-modal"class="btn btn-sm btn-info my-2 my-sm-0">폴더생성</button>
			<button id="btn-write" class="btn btn-sm btn-info my-2 my-sm-0">게시물생성</button>
		</div>
		<div id="file-btns-wrapper" style="display: none;">
	   		<button id="btn-delete" class="btn btn-sm btn-outline-secondary my-2 my-sm-0">삭제</button>
			<button id="btn-modify" class="btn btn-sm btn-info my-2 my-sm-0">수정</button>
		</div>
    </div>
    <hr>
</div>
<div id="bf-content-area">
</div>

{{#script}}	
<script>
$(function(){
	$("#btn-delete").click(function() {
		deleteContentAjax();
	});
	$("#btn-folder-delete").click(function() {
		// deleteContentAjax();
	});
	$("#btn-modify").click(function() {
		alert("작업중입니다");
	});
	if (window.location.hash) {
		loadContentsAjax();
	} else {
		$("#file-btns-wrapper").hide();
		$("#folder-btns-wrapper").show();
		$("#bf-subject").css("visibility", "hidden");
		$("#bf-subject-wrapper").show();
		$("#bf-content-area").html('<img src="/img/bg-empty.png"/>');
	}
});

window.onhashchange = function() {
	loadContentsAjax();
}

function loadContentsAjax() {
	$("#bf-subject").css("visibility", "visible");
	var hash = window.location.hash.substr(1)?window.location.hash.substr(1):'';
	$("#li-" + hash).addClass("node-selected");
	$.ajax("/api/v1/ecm/doc/" + hash)
	.done(function(msg) {
		$("#bf-subject").html(msg.result.title);
		$("#bf-content-area").empty().html(msg.result.contents);
		$(".bg-contents").scrollTop(0);
	})
	.fail(function() {
	})
	.always(function() {
		$(".spinner-border").hide();
	});
}

function deleteContentAjax() {
	var hash = window.location.hash.substr(1)?window.location.hash.substr(1):'';
	$.ajax({
		url: "/api/v1/ecm/doc/" + hash,
		type : "DELETE"
	})
	.done(function(msg) {
		location.href = "/doc";
	})
	.fail(function() {
	})
	.always(function() {
		$(".spinner-border").hide();
	});
}

</script>
{{/script}}
{{/layout}}