{{#layout}}

{{#style}}
<style>
#bf-content-area, #synapEditor, #new_synapEditor { width: 100%; height: 100%; min-height: 480px; }
#btn-create { float: right; }
</style>
<script src="/synapeditor/synapeditor.config.js"></script>
<script src="/synapeditor/synapeditor.min.js"></script>
<script>
function initEditor() {
    new SynapEditor('synapEditor', synapEditorConfig);
}
window.onload = function() {
	initEditor();
}
</script>
{{/style}}
<div id="bf-content-area">
  <form id="frm" name="frm" action="/doc" method="post">
	<div class="row">
	    <div class="col-10">
			<input id="bf-subject-input" name="text" placeholder="제목을 입력하세요" class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
	    </div>
	    <div class="col-2">
			<button id="btn-create" class="btn btn-success my-2 my-sm-0" type="submit">등록</button>
	    </div>
	</div>
	<textarea id="synapEditor" name="content"></textarea>
  </form>
</div>

{{#script}}
<script>
$(function() {
	$("#btn-create").click(function() {
		var parentid = window.location.hash.substr(1)?"/" + window.location.hash.substr(1):'';
		document.frm.action = "/doc" + parentid;
		document.frm.submit();
	});
})
</script>
{{/script}}
{{/layout}}