{{#layout}}

<h1 id="bf-subject">글쓰기</h1>
<button id="btn-create" class="btn btn-outline-success my-2 my-sm-0" type="submit">등록</button>
<hr>
<div id="bf-content-area">
	<form id="frm" name="frm" action="/put" method="post">
		<input id="bf-subject-input" name="title" placeholder="제목을 입력하세요" class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
		<textarea id="synapEditor" name="content"></textarea>
	</form>
</div>

{{#script}}
<script>
function initEditor() {
    var se = new SynapEditor("synapEditor", synapEditorConfig);
}
$(function() {
	initEditor();
})
</script>
{{/script}}
{{/layout}}