{{#layout}}

{{#style}}
<style>
#bf-content-area, #synapEditor, #new_synapEditor { width: 100%; min-height: 480px; }
#bf-content-area { height: calc(100% - 55px); }
#btn-create { float: right; }
</style>
<script src="/synapeditor/synapeditor.config.js"></script>
<script src="/synapeditor/synapeditor.min.js"></script>
<script>
var editor;
function initEditor() {
	editor = new SynapEditor('synapEditor', synapEditorConfig);
}
</script>
{{/style}}
<div id="bf-content-area">
	<div class="row">
	    <div class="col-10">
			<input id="bf-subject-input" name="text" placeholder="제목을 입력하세요" class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
	    </div>
	    <div class="col-2">
			<button id="btn-create" class="btn btn-info my-2 my-sm-0">등록</button>
	    </div>
	</div>
	<textarea id="synapEditor" name="content"></textarea>
</div>

{{#script}}
<script>
$(function() {
	initEditor();
	var hash = window.location.hash?window.location.hash.substr(1):'';
	$("#btn-create").click(function() {
		var url = "/api/v1/ecm/doc" + (hash.length>0?'/'+hash:'');
		console.log("url " + url);
		$.ajax({
			url: url,
			method: "PUT",
			data: { 
				text: $("#bf-subject-input").val(),
				content: editor.getPublishingHtml(),
				directory: false }
		})
		.done(function(msg) {
			location.href = "/doc#" + hash;
		});
	});
	if (hash) {
		$.ajax("/api/v1/ecm/doc/" + hash)
		.done(function(msg) {
			console.log('result ' + JSON.stringify(msg.result));
			$("#bf-subject-input").val(msg.result.title);
			editor.insertHTML(msg.result.contents);
			setTimeout(function(){
				$(".se-horz-scroll").scrollTop(0);
				$(".se-horz-scroll").scrollLeft(0);
			}, 1000);
		})
		.fail(function() {
		})
		.always(function() {
			$(".spinner-border").hide();
		});
	}
})
</script>
{{/script}}
{{/layout}}