<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
<title>{{layout.title}}</title>
<link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap-treeview.min.css" rel="stylesheet" type="text/css">
<link href="/synapeditor/synapeditor.min.css" rel="stylesheet" type="text/css">
<link href="/css/context.standalone.css" rel="stylesheet" type="text/css">
<link href="/fontawesome5/css/all.css" rel="stylesheet" type="text/css">
<link href="/css/custom.css" rel="stylesheet" type="text/css">

<style>
.inner-shadow { box-shadow: inset 1px 1px 2px grey; }
</style>
{{{layout.style}}}
<script src="/synapeditor/synapeditor.config.js"></script>
</head>
<body>

<header>
	<nav class="navbar navbar-expand-md fixed-top justify-content-between navbar-light bg-light bf-shadow">
		<a class="navbar-brand" href="/">
			<img src="/img/ic-logo.png" height="30" class="d-inline-block align-top" alt="bitflow logo">
		</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto nav nav-pills">
	            <li class="nav-item">
	              <a class="nav-link active" href="#">화면 도움말 <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#">영웅문 100% 이용하기</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#">영웅문 길라잡이</a>
	            </li>
	          </ul>
			<form id="bf-search-wrapper" class="form-inline mt-2 mt-md-0">
				<input id="bf-search" class="form-control mr-sm-2" type="text" placeholder="검색어 입력" aria-label="Search"/>
				<button id="btn-search" class="btn btn-outline-secondary my-2 my-sm-0" type="button" onclick="search();">
				<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</nav>
</header>

<div id="bf-body-wrapper">
	<div id="bf-nav-below" class="row">
	    <div class="col-md-3 bf-menu-section">
	    	<div id="tree"></div>
	    </div>
	    <div class="col-md-9 bg-contents" id="bf-contents">
	   		{{{layout.body}}}
	    </div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="bf-modal-folder" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">폴더 생성</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<input type="text" id="folder-name" class="form-control mr-sm-2" placeholder="폴더명 입력" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">취소</button>
        <button id="btn-create-folder" type="button" class="btn btn-primary">생성</button>
      </div>
    </div>
  </div>
</div>

<div id="snackbar"></div>

<div id="context-menu" style="display:none"> 
  <ul class="dropdown-menu">
    <li><a href="#">Action 1</a></li>
    <li><a href="#">Action 2</a></li>
    <li><a href="#">Action 3</a></li>
    <li class="divider"></li>
    <li><a href="#">Action 4</a></li>
    <li><a href="#">Action 5</a></li>
    <li><a href="#">Action 6</a></li>
  </ul>
</div>

<div class="spinner-border" role="status" style="display: none;">
  <span class="sr-only">Loading...</span>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-treeview.min.js"></script>
<script src="/js/context.js"></script>
<script>
var tree = {{#tree}}{{{tree}}}{{/tree}}{{^tree}}[]{{/tree}};
window.alert = function(message) {
	var x = document.getElementById("snackbar");
	x.className = "show";
	x.innerText = message;
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
function loadContents(id) {
	$(".spinner-border").show();
	location.href = "/doc#" + id;
}
function onTreeItemClick(e, data) {
	// console.log("onTreeItemClick " + JSON.stringify(data));
	location.href = "/doc#" + data.id;
	if (data.directory==false) {
		$("#folder-btns-wrapper").hide();
		$("#file-btns-wrapper").show();
		loadContents(data.id);
	} else {
		$("#file-btns-wrapper").hide();
		$("#folder-btns-wrapper").show();
	}
}
function search(id) {
	if ($("#bf-search").val() && $("#bf-search").val().length>0) {
		location.href='/search#' + $("#bf-search").val();
	}
}
function goEdit() {
	var id = window.location.hash.substr(1)?window.location.hash.substr(1):'';
	location.href='/edit#' + id;
}
function goHashLocation() {
	var id = window.location.hash.substr(1)?window.location.hash.substr(1):'';
	loadContents(id);
}

function doCreateFolder() {
	var parentid = window.location.hash.substr(1)?"/" + window.location.hash.substr(1):'';
	var foldername = $("#folder-name").val();
	console.log("foldername " + foldername);
	$.ajax({
		url : "/api/v1/ecm/folder" + parentid,
		type: "post",
		dataType: "json",
		data: { text: foldername, directory: true }
	})
	.done(function(msg) {
		location.reload();
	})
	.fail(function() {
	})
	.always(function() {
	});
}

function doSearch() {
	$(".spinner-border").show();
	$.ajax("/api/v1/ecm/search/" + q)
		.done(function(msg) {
			$("#bf-subject").html("검색결과");
			var list = msg.result;
			if (!msg || !msg.result || msg.result.length<1) {
				$("#bf-content-area").html('<img src="/img/bg-empty.png"/>');
			} else {
				$("#bf-content-area").empty();
				var html = '<dl class="bf-search-result">';
				for (var i=0;i<list.length;i++) {
					html += "<dt>" + list[i].text + "</dt><dd>"
						+ '<a href="javascript:loadContents(\'' + list[i].id + '\')">' + list[i].summary + "</a></dd>";
				}
				html += "</dl>";
				$("#bf-content-area").html(html);
				$(".bg-contents").scrollTop(0);
			}
		})
		.fail(function() {
		})
		.always(function() {
			$(".spinner-border").hide();
		});
}
	
$(function(){
	$('#tree').treeview({
		data: tree,
		onNodeSelected: onTreeItemClick
	});
	if (window.location.hash) {
		console.log('nodeid ' + window.location.hash.substr(1));
		$('#tree').treeview('revealNode', [ window.location.hash.substr(1) ]);
	}
	$("#bf-search").keypress(function(e) {
	    if (e.which==13){
	    	console.log("keyword " + $(this).val());
			search();
			return false;
	    }
	});
	$("#btn-folder-modal").click(function(e) {
		$('#bf-modal-folder').modal();
		e.stopPropagation();
		e.preventDefault();
	});
	$("#btn-write").click(function() {
		goEdit();
	});
	$("#btn-create-folder").click(function() {
		doCreateFolder();
	});
/* 	$('#tree').contextmenu({
		target: "#context-menu"
	}); */
	context.init({
		fadeSpeed: 100,
		filter: function($obj){},
		above: 'auto', 
		preventDoubleContext: false, 
		compress: false
	});
	context.attach('#tree', [
			{text: '새 폴더', href: '#'},
			{text: '새 게시물', href: '#'},
			{text: '수정', href: '#'},
			{text: '삭제', href: '#'}
		]);
});
</script>
{{{layout.script}}}
</body>
</html>